<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ExplainMe</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <h1 class="title">Enter the URL of the article you want to read:</h1>
        <form class="form" method="post" enctype="multipart/form-data">
            <div>
                <input class="url-input" type="url" name="url" placeholder="Enter URL" required>
                <input class="submit-button" type="submit" value="ExplainMe">
            </div>
        </form>
    </div>
</body>

</html>